node_modules
.output
.turbo
dist
build
.git
*.tar
*.tar.gz
*.log
*.zst
.env*
test_be.tar
apps/vione_app_be/node_modules
apps/vione_app_be/dist
apps/vione_app_be/build
packages/*/node_modules
supabase
docker-compose*.yml
Dockerfile*
document
scripts
fast-deploy.ps1
missing_i18n.json
translated_i18n.json
tsc-errors*.log
bun.lockb
bun.lock
